{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <div class="home-container">
        <span class="home-title">Bienvenue</span>
        <p>Ysé Masutti - Illustratrice</p>
        <div class="news-container">
            <a class="home-link" href="{{path('album_show')}} ">
                <div class="album-column">
                    {% for album in albums %}
                        <div class="illustration-div column-content">
                            <h3>Mon portfolio</h3>
                            <img src=" {{vich_uploader_asset(album, 'imageFile')| imagine_filter('thumb_home')}} " alt="{{album.title}}">
                            <span class="home-overlay first"></span>
                        </div>
                    {% endfor %}
                </div>
            </a>
            <a class="home-link" href="{{path('article_show')}} ">
                <div class="article-column">
                    {% for article in articles %}
                        <div class="illustration-div column-content">
                            <h3>Mon actualités et pensées du moment</h3>        
                            <img src=" {{vich_uploader_asset(article, 'imageFile')| imagine_filter('thumb_home')}} " alt="{{article.title}}">
                            <span class="home-overlay second"></span>
                        </div>
                    {% endfor %}
                </div>
            </a>
            <a class="home-link" href="{{path('illustration_show')}} ">
                <div class="illustration-column">
                    {% for illustration in illustrations %}
                        <div class="illustration-div column-content">        
                            <h3>Pour acheter mes illustrations c'est ici !</h3>
                            <img src=" {{ vich_uploader_asset(illustration, 'imageFile')| imagine_filter('thumb_home_last') }} " alt="{{illustration.title}}">
                            <span class="home-overlay"></span>
                        </div>
                    {% endfor %}
                </div>
            </a>
        </div>
    {% endblock %}
