{% extends "interfacelayout.html.twig" %}

{% block body %}
    <div class="album-container">
        <div class="first-column">
            <div class="album">
                {% for album in albums %}
                    {% if loop.length > 3 %}
                        {% if loop.index in range(1, loop.length, 3)  %}
                            <div>
                                <img src=" {{vich_uploader_asset(album, 'imageFile')| imagine_filter('scale_filter')}} " alt="">
                                <span class="album-title">{{album.title}}</span>
                                <a href="{{path('album_update', {'slug' : album.slug})}}" class="button album-hidden">Editer</a>
                                <a href=" {{path('album_delete', {'slug' : album.slug})}} " class="button album-hidden">Supprimer</a>
                            </div>
                        {% endif %}
                    {% else %}
                        {% if loop.index == 1 %}
                            <div><img src=" {{vich_uploader_asset(album, 'imageFile')| imagine_filter('scale_filter')}} " alt=""><span class="album-title">
                                    {{album.title}}
                                </span>
                                <a href="{{path('album_update', {'slug' : album.slug})}}" class="button album-hidden">Editer</a>
                                <a href=" {{path('album_delete', {'slug' : album.slug})}} " class="button album-hidden">Supprimer</a>
                            </div>
                        {% endif %}
                    {% endif %}    
                {% endfor %}
            </div>
        </div>
        <div class="second-column">
            <div class="album">
                {% for album in albums %}
                    {% if loop.length > 4 %}
                        {% if loop.index in range(2, loop.length, 3)  %}
                            <div>
                                <img src=" {{vich_uploader_asset(album, 'imageFile')| imagine_filter('scale_filter')}} " alt="">
                                <span class="album-title">
                                    {{album.title}}
                                </span>
                                <a href="{{path('album_update', {'slug' : album.slug})}}" class="button album-hidden">Editer</a>
                                <a href=" {{path('album_delete', {'slug' : album.slug})}} " class="button album-hidden">Supprimer</a>
                            </div>
                        {% endif %}
                    {% else %}
                        {% if loop.index == 2 %}
                            <div><img src=" {{vich_uploader_asset(album, 'imageFile')| imagine_filter('scale_filter')}} " alt=""><span class="album-title">
                                    {{album.title}}
                                </span>
                                <a href="{{path('album_update', {'slug' : album.slug})}}" class="button album-hidden">Editer</a>
                                <a href=" {{path('album_delete', {'slug' : album.slug})}} " class="button album-hidden">Supprimer</a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="third-column">
            <div class="album">
                {% for album in albums %}
                    {% if loop.length > 5 %}
                        {% if loop.index in range(3, loop.length, 3) %}
                            <div><img src=" {{vich_uploader_asset(album, 'imageFile')| imagine_filter('scale_filter')}} " alt=""><span class="album-title">
                                    {{album.title}}
                                </span>
                                <a href="{{path('album_update', {'slug' : album.slug})}}" class="button album-hidden">Editer</a>
                                <a href=" {{path('album_delete', {'slug' : album.slug})}} " class="button album-hidden">Supprimer</a>
                            </div>
                        {% endif %}
                    {% else %}
                        {% if loop.index == 3 %}
                            <div><img src=" {{vich_uploader_asset(album, 'imageFile')| imagine_filter('scale_filter')}} " alt=""><span class="album-title">
                                    {{album.title}}
                                </span>
                                <a href="{{path('album_update', {'slug' : album.slug})}}" class="button album-hidden">Editer</a>
                                <a href=" {{path('album_delete', {'slug' : album.slug})}} " class="button album-hidden">Supprimer</a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
