<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ysé Masutti - Illustration</title>
        <style type="text/css">
            th {
                background: #DD2772;
            }
            tfoot tr td:nth-last-child(-n+2) {
                background-color: #DD2772;
            }
            td {
                color: #808080;
            }
            tr:nth-child(even) td {
    background: #f8f6ff;
}
        </style>
    </head>
    <body>
        <section class="main">
            <div class="invoice-single-container">
                <div class="invoice-top">
                    <div>
                        <img src="{{absolute_url(asset('img/logo2.jpg'))}} " alt="" style="width:100px;">
                        <p>Ysé Masutti</p>
                        <p>{{invoice.address |capitalize}}</p>
                        <p>Siret:
                            {{invoice.siret}}</p>
                    </div>
                    <div>
                        <h1>FACTURE N°{{invoice.id}}</h1>
                    </div>
                    <p>Créer le {{invoice.createdAt |date("d/m/Y")}} </p>
                    <p>Vendu le {{invoice.createdAt |date("d/m/Y")}} </p>
                </div>
                <div class="invoice-customer">
                    <h1>Client</h1>
                    <div>
                        <p>
                            {{invoice.customer.name}}
                        </p>
                        <p>
                            {{invoice.customer.address}}
                        </p>
                        <p>
                            {{invoice.customer.email}}
                        </p>
                    </div>
                </div>
                <div class="invoice-description">
                    <table>
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Quantité</th>
                                <th>Prix unitaire</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% set article = invoice.description.price |number_format(2, ',') %}
                                <td>Impression de l'illustration "{{invoice.description.title}}" au format A4 signé par l'auteur.</td>
                                <td>
                                    1
                                </td>
                                <td>
                                    {{article}}
                                    €
                                </td>
                                <td>
                                    {{article}}
                                    €
                                </td>
                            </tr>
                            <tr>
                                {% set shipping = '10' |number_format(2, ',') %}
                                <td>Frais de port</td>
                                <td>
                                    1
                                </td>
                                <td>{{ shipping }}
                                    €</td>
                                <td>{{ shipping |number_format(2, ',')}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                {% set total = shipping|number_format() + article|number_format() %}
                                <td></td>
                                <td></td>
                                <td>Total HT :</td>
                                <td>{{ total }} €</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Total TTC:</td>
                                <td>{{ total }} €</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </section>
    </body>
</html>
