{% extends "interfacelayout.html.twig" %}

{% block body %}
    <div class="admin-container">
        {{ form_start(form) }}
        <div class="form-container">
            <h1>Ajout d'article</h1>
            {{ form_widget(form.title, {'attr': {placeholder: "Titre de l'article"}}) }}
            {{ form_widget(form.text, {'attr': {'class': 'ckeditor'}}) }}
            {{ form_label(form.imageFile, 'Ajouter une image', {'label_attr': {
            'class': 'upload'
        }})}}
            {{ form_widget(form.imageFile, {'attr': {
            'class': 'upload'
        }}) }}
            <button class="button-submit" type="submit">Enregistrer</button>
        </div>
        {{form_end(form)}}
    </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
{{ parent() }}
{% endblock %}